* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #262626;
}


header {
    position: sticky;
    top: 0px;
    background-color: #202020;
    z-index: 100;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.name {
    width: 380px;
    height: 100%;
}
.navbar {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 35px;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
.navbar ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #00B0F0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.navbar ul li a:hover::after {
    width: 100%;
}


main {
    display: block;
    position: relative;
    display: flex;
}


#accueil {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pop {
    width: 400px;
    height: 400px;
    border: solid 10px #00B0F0;
    border-radius: 100%;
}
.container1 {
    width: 750px;
    height: 400px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.text1 {
    justify-content: center;
}
.text1 h1 {
    color: #00B0F0;
    font-size: 50px;
}
.text1 p {
    color: white;
    font-size: 25px;
    margin-top: 10px;
    text-align: justify;
    
}


#aproposdemoi {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.idpicture {
    width: 350px;
    height: 400px;
    box-shadow: 15px 15px 40px #00B0F0;
}

.container2 {
    width: 750px;
    height: 400px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.text2 {
    justify-content: center;
}
.text2 h1 {
    color: #00B0F0;
    font-size: 50px;
}
.text2 p {
    color: white;
    font-size: 25px;
    margin-top: 10px;
    text-align: justify;
}
.text2 p strong{
    color: #00B0F0;
}


#portefolio {
    width: 100%;
    height: auto;
    display: flex;
}
.container3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text3 h1 {
    color: #00B0F0;
    font-size: 50px;
    margin-top: 10px;
}
.text3 h4 {
    color: #ffffff;
    font-size: 30px;
    margin-top: 10px;
}

.container3 .element4 {
    display: flex;
    justify-content: center;
    height: 100vh;
}
.container3 .element4 .card4 {
    height: 400px;
    margin: 50px;
    box-shadow: 5px 5px 20px #00B0F0;
    overflow: hidden;
}
.container3 .card4:hover {
    cursor: pointer;
}
.container3 .card4:hover .subject4 {
    height: 275px;
    bottom: 75%;
    background: #262626;
    transition: 0.5s;
}
.container3 .element4 .card4:hover p {
    opacity: 1;
    visibility: visible;
}
.container3 .element4 img {
    height: 400px;
    width: 650px;
    border-radius: 3px;
} 
.container3 .subject4 {
    height: 70px;
    width: 650px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 75%;
    background: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container3 .element4 h1 {
    color: #00B0F0;
    font-size: 40px;
}
.container3 .element4 p {
    color: white;
    font-size: 20px;
    text-align: justify;
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;
}

.container3 .element5 {
    display: flex;
    justify-content: center;
    height: 100vh;
}
.container3 .element5 .card5 {
    height: 400px;
    margin: 50px;
    box-shadow: 5px 5px 20px #00B0F0;
    overflow: hidden;
}
.container3 .card5:hover {
    cursor: pointer;
}
.container3 .card5:hover .subject5 {
    height: 275px;
    bottom: 44%;
    background: #262626;
    transition: 0.5s;
}
.container3 .element5 .card5:hover p {
    opacity: 1;
    visibility: visible;
}
.container3 .element5 img {
    height: 400px;
    width: 650px;
    border-radius: 3px;
} 
.container3 .subject5 {
    height: 70px;
    width: 650px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 43%;
    background: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container3 .element5 h1 {
    color: #00B0F0;
    font-size: 40px;
}
.container3 .element5 p {
    color: white;
    font-size: 20px;
    text-align: justify;
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;
}

.container3 .element6 {
    display: flex;
    justify-content: center;
    height: 100vh;
}
.container3 .element6 .card6 {
    height: 400px;
    margin: 50px;
    box-shadow: 5px 5px 20px #00B0F0;
    overflow: hidden;
}
.container3 .card6:hover {
    cursor: pointer;
}
.container3 .card6:hover .subject6 {
    height: 250px;
    bottom: 11%;
    background: #262626;
    transition: 0.5s;
}
.container3 .element6 .card6:hover p {
    opacity: 1;
    visibility: visible;
}
.container3 .element6 img {
    height: 400px;
    width: 650px;
    border-radius: 3px;
} 
.container3 .subject6 {
    height: 70px;
    width: 650px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 11%;
    background: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container3 .element6 h1 {
    color: #00B0F0;
    font-size: 40px;
}
.container3 .element6 p {
    color: white;
    font-size: 20px;
    text-align: justify;
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;
}


#competences {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}
.container4 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text4 h1 {
    color: #00B0F0;
    font-size: 50px;
    margin-top: 10px;
}
.element1 {
    position: relative;
    display: flex;
    gap: 250px;
    margin-top: 20px;
}
.element1 .box {
    position: relative;
    padding: 40px 0;
    width: 240px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.element2 {
    position: relative;
    display: flex;
    gap: 280px;
}
.element2 .box {
    position: relative;
    padding: 40px 0;
    width: 240px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.element1 .box .cercle {
    position: relative;
    width: 100px;
    height: 100px;
    background: conic-gradient(from 0deg,var(--clr) 0%,var(--clr) 0% var(--i), #333 var(--i), #333 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.element1 .box .cercle::before {
    content: '';
    position: absolute;
    inset: 10px;
    background: #262626;
    border-radius: 50%;
}
.element2 .box .cercle {
    position: relative;
    width: 100px;
    height: 100px;
    background: conic-gradient(from 0deg,var(--clr) 0%,var(--clr) 0% var(--i), #333 var(--i), #333 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.element2 .box .cercle::before {
    content: '';
    position: absolute;
    inset: 10px;
    background: #262626;
    border-radius: 50%;
}
.element1 .box h2 {
    position: relative;
    text-align: center;
    font-size: 30px;
    color: white;
}
.element2 .box h2 {
    position: relative;
    text-align: center;
    font-size: 30px;
    color: white;
}
.element1 .box h3 {
    color: white;
    margin-top: 20px;
    letter-spacing: 1px;
}
.element2 .box h3 {
    color: white;
    margin-top: 20px;
    letter-spacing: 1px;
}


#contact {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}
.container5 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text5 h1 {
    color: #00B0F0;
    font-size: 50px;
    margin-top: 10px;
}

.container5 .element3 {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.container5 .icone1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container5 .icongmail {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.container5 .gmail {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container5 .gmail p {
    color: white;
    font-size: 20px;
    font-weight: 800;
    align-items: center;
}
.container5 .gmail a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: #00B0F0;
}

.container5 .icone2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container5 .iconlinkedin {
    width: 200px;
    height: 200px;
}
.container5 .linkedin {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container5 .linkedin p {
    color: white;
    font-size: 20px;
    font-weight: 800;
}
.container5 .linkedin a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: #00B0F0;
}

.container5 .icone3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container5 .icongithub {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.container5 .github {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container5 .github p {
    color: white;
    font-size: 20px;
    font-weight: 800;
}
.container5 .github a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: #00B0F0;
}

.container5 .icone4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container5 .iconcv {
    width: 200px;
    height: 200px;
}
.container5 .cv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container5 .cv p {
    color: white;
    font-size: 20px;
    font-weight: 800;
}
.container5 .cv a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: #00B0F0;
}

.container5 .icone5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container5 .iconphone {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.container5 .phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container5 .phone p {
    color: white;
    font-size: 20px;
    font-weight: 800;
}
.container5 .phone a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: #00B0F0;
}


#formations {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}
.container6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.text6 h1 {
    color: #00B0F0;
    font-size: 50px;
}

.container6 ul {
    list-style: none;

}
.container6 h3 {
    color: #00729b;
    margin-top: 30px;
    font-size: 40px;
}
.container6 h4 {
    color: #00729b;
    font-size: 40px;
}
.container6 p {
    color: white;
    font-size: 20px;
}


#experiencepro {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}